
auto
*.log
*.aux
*.bbl
*.blg
*.brf
*.lod
*.log
*.lof
*.out
*.acn
*.acr
*.alg
*.glg
*.glo
*.ist
*.lot
*.gls
*.bak
*.toc
.sconsign.dblite
*~

*.bcf
*.pdf
*.run.xml
*.synctex.gz

# vim tmp files
*.swp
*.swo

